.contenedor-footer{
    background: #A65891;
    margin-top: 5%;
}
.sub-foo{
    color: white;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
.contenido-foo >p{
    color: white;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}