.titulo {
    color: $color-naranja;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; 
    font-weight: bold; 
    text-decoration: underline; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

body {
    padding: 2rem;
}

header, section {
    margin-bottom: 2rem;
}


