@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}